<% unless comment.archived? %>
<div class="grid">
  <div>
    <hgroup>
      <h6><%= comment.body %> by <%= comment.commenter %></h6>
    </hgroup>
  </div>
  <div>
    <hgroup>
      <%= button_to "Destroy", [comment.article, comment], method: :delete %>   
    </hgroup>
  </div>
</div>
<% end %>

