<article data-theme="light">
    <form>
        <h1><strong>Create new user</strong> </h1> 
        <div class="grid">
            <label for="Name">
                Name
                <input type="text" id="name" name="name" placeholder="name" >
            </label>
            <fieldset>
            <legend>Sex</legend>
                <label for="small">
                    <input type="radio" id="small" name="size" value="small" checked>
                    Female
                </label>
                <label for="medium">
                    <input type="radio" id="medium" name="size" value="medium">
                    Male
                </label>
            </fieldset>
        </div>
        <div class="grid">
            <label for="Email">
                Email
                <input type="text" id="email" name="email" placeholder="email" >
            </label>
            <label for="Age">
                Age
                <input type="text" id="age" name="age" placeholder="age" >
            </label>
        </div>
        <fieldset>
            <label for="terms">
                <input type="checkbox" id="terms" name="terms">
                    I agree to have fun in the blog
            </label>
        </fieldset>
        <button>Create</button>
    </form>
</article>
